.block {
  display: flex;
  min-height: 500px;
  width: 100%;
  padding: 0;

  border: none;
  transition: all 250ms;

  & > label {
    margin: 1rem 0 0.4rem 0;
  }
}

.submitButton {
  display: block;
  margin: auto;
}

.form {
  width: 100%;
}

.enter {
  transform: translateX(-200%);
}

.enterActive {
  transform: translateX(0%);
}

.exit {
  transform: translateX(0%);
  opacity: 1;
}

.exitActive {
  transform: translateX(400%);
  opacity: 0;
}

.enterActive .exitActive {
  transition: all 500ms;
}
